* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
============================================
Fonts
============================================
*/

/*
"-apple-system", "BlinkMacSystemFont" => apple device
"Segeo UI" => windows system
"Roboto" => android system 
*/

@font-face {
  font-family: "vazir";
  src: url("../fonts/vazir/Vazir-Medium.woff2") format("woff2"),
    url("../fonts/vazir/Vazir-Medium.woff") format("woff"),
    url("../fonts/vazir/Vazir-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "vazir-farsi-digits";
  src: url("../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff2")
      format("woff2"),
    url("../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff")
      format("woff"),
    url("../fonts/vazir/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.ttf")
      format("truetype");
}

/* 
============================================
Variables
============================================
*/

:root {
  --clr-primary: #d61eb8;
  --clr-primary-2: #3d14f1;
  --clr-gray-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #eef4f8;
  --clr-white: #fff;
  --ff-primary: "vazir", sans-serif;
  --radius: 0.5rem;
  --transition: all 0.5s linear;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-gray-1);
  text-align: right;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}

p {
  font-family: "vazir", -apple-system;
}

.btn {
  background: var(--clr-primary);
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  color: var(--clr-white);
  transition: var(--transition);
}
.btn:hover {
  background: var(--clr-primary-2);
  color: var(--clr-primary);
}

/* beacause of using float */
.clear-fix::after,
.clear-fix::before {
  content: "";
  clear: both;
  display: block;
}

/* 
============================================
Header
============================================
*/
.header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.banner {
  width: 100%;
  color: var(--clr-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banner h1 {
  color: var(--clr-primary);
  margin-bottom: 2rem;
}

.banner h2 {
  color: var(--clr-primary);
  margin-bottom: 1.75rem;
}

.banner-btn {
  font-size: 1.25rem;
  outline: 0.125rem solid var(--clr-primary);
  outline-offset: 0.25rem;
  padding: 0.75rem 1.25rem;
}

.content-divider {
  height: 0.5rem;
  background: linear-gradient(
    to left,
    var(--clr-primary),
    var(--clr-primary-2),
    var(--clr-primary)
  );
}

/* 
============================================
Features
============================================
*/

.features {
  background: var(--clr-grey-10);
}

.feature {
  height: 260px;
  text-align: center;
  padding: 2.5rem 0;
  transition: var(--transition);
}

.feature:hover {
  background: var(--clr-white);
  box-shadow: 0 2px 0 var(--clr-primary);
}

.feature:hover .feature-icon {
  transform: translateY(-5px);
}

.feature-icon {
  color: var(--clr-primary);
  font-size: 2rem;
  margin-bottom: 1.25rem;
  display: inline-block;
  transition: var(--transition);
}

.feature-title {
  margin-bottom: 1rem;
}

.feature-text {
  color: var(--clr-grey-5);
  margin: 0 auto;
}

@media screen and (min-width: 576px) {
  .feature {
    float: right;
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    float: right;
    width: 25%;
  }
}
